<div class="container" [@fader]>
  <div>
        <div *ngIf="orders$ | async as orders">
          <div *ngIf="orders.length === 0 && orders !== null; else content">
            <markdown [@fader] [src]="src"></markdown>
          </div>
        </div>
        <ng-template #content>
        <mat-card-subtitle>
          <div>
              <span translate>ORDERS.LAST</span>
          </div>
        </mat-card-subtitle>
        <mat-card-content [@fader]>
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                <div *cdkVirtualFor="let order of orders$ | async">
                  <mat-card>
                    <mat-card-title>{{order.supplier}} @ {{ order.date | date:'HH:mm - d/MM/yy' }}</mat-card-title>
                    <mat-card-content>
                    <span translate [translateParams]="{value:order.madeBy}">LAND.O-BY</span>
                  </mat-card-content>
                  <mat-card-actions align="end">
                    <button mat-button routerLink="order" [queryParams]="{id: order.order_id}">
                      <span translate>ORDERS.REPEAT-ORDER</span>
                    </button>
                    <button mat-button (click)="openOverviewDialog(order, false)"><span translate>ORDERS.DETAILS</span></button>
                  </mat-card-actions>
                  </mat-card>
                </div>
            </cdk-virtual-scroll-viewport>
        </mat-card-content>
      </ng-template>
  </div>
</div>
