<div class="container" [@fadeInOut]>
  <br>
  <div>
    
  </div>
      <div class="mat-elevation-z2">
        <mat-list>
              <form [formGroup]="shoppingForm">
                  <div formArrayName="items" class="list" [@fadeInOut]>
                      <div *ngIf="this.itemsForms.value.length === 0" class="empty">
                          <mat-icon color="warn">notification_important</mat-icon>
                          <br>
                          <strong><a translate>SHOPPING.EMPTY</a></strong>
                        </div>
                      <div 
                      *ngFor="let item of itemsForms.controls; let i = index" [@fadeInOut] class="item" [formGroupName]="i">
                          <mat-list-item>
                              <div fxFlex="60" fxFlex.xs="20">
                                <p mat-line>
                                  {{ item.value.name }}
                                </p> 
                              </div>
                              <div>
                                  <button mat-icon-button (mousedown)="clickHandler('sub', i)"
                                  [disabled]="this.itemsForms.value[i].quantity === 0">
                                    <mat-icon color="warn">remove_circle</mat-icon>
                                  </button>
                                  <mat-form-field class="quantity">
                                    <input matInput type="number" placeholder="{{ 'SHOPPING.QUANTITY' | translate }}" [errorStateMatcher]="matcher"
                                    autocomplete="off" formControlName="quantity">
                                  </mat-form-field>
                                  <button mat-icon-button (mousedown)="clickHandler('sum', i)">
                                      <mat-icon color="primary">add_circle</mat-icon>
                                  </button>

                                    <mat-form-field class="unit">
                                        <mat-select placeholder="{{ 'SHOPPING.UNIT' | translate }}" autocomplete="off" formControlName="unit"
                                         [errorStateMatcher]="matcher">
                                          <mat-option value="u">u</mat-option>
                                          <mat-option value="gr">gr</mat-option>
                                          <mat-option value="kg">kg</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                              </div> 
                              <button mat-icon-button (click)="deleteItem(i)">
                                <mat-icon>clear</mat-icon>
                              </button>
                          </mat-list-item>      
                          <mat-divider></mat-divider> 
                          <br>   
                        </div>
                      </div>
              </form> 
        </mat-list>      
      </div>
<br>
<div align="end">
    <button mat-button [disabled]="list.length === 0">Send</button>
</div>
<app-ingredients-list [shopping]="true" (add)="addToList($event)"></app-ingredients-list>



