<mat-toolbar color="primary" class="mat-elevation-z1" [@toolbarSlide]>
    <span translate>AUTH.REGISTRE</span>
</mat-toolbar>
<div class="container" [@fadeInOut]>
    <mat-card>
        <form [formGroup]="userForm">
            <div fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="{{ 'AUTH.NAME' | translate }}" autocomplete="off" formControlName="name">
                <mat-error *ngIf="name.errors?.required && name.touched">
                    <a translate>AUTH.NAME-REQUIRED</a>
                </mat-error>
                <mat-error *ngIf="name.errors?.pattern && name.touched">
                    <a translate>AUTH.ONLY-LETTERS</a>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="{{ 'AUTH.EMAIL' | translate }}" autocomplete="off" formControlName="email">
                <mat-error *ngIf="email.errors?.email && email.touched">
                    <a translate>AUTH.VALID-EMAIL</a>
                    </mat-error>
                    <mat-error *ngIf="email.errors?.required && email.touched">
                        <a translate>AUTH.EMAIL-REQUIRED</a>
                    </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" autocomplete="off" formControlName="password" placeholder="{{ 'AUTH.PASSWORD' | translate }}">
                <mat-error *ngIf="password.errors?.pattern && password.touched">
                    <a translate>AUTH.PWD-REQ</a>
                </mat-error>
                    <mat-error *ngIf="password.errors?.required && password.touched">
                        <a translate>AUTH.PASSWORD-REQUIRED</a>
                    </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" #repeated formControlName="confirmPassword"
                placeholder="{{ 'AUTH.REPEAT-PWD' | translate }}" autocomplete="off">
                <mat-error *ngIf="confirmPassword.errors?.pattern && confirmPassword.touched">
                    <a translate>AUTH.NOT-MATCH</a>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label><a translate>AUTH.ROLE</a></mat-label>
                <mat-select formControlName="role">
                    <mat-option value="chef">Chef</mat-option>
                    <mat-option value="sous chef">Sous chef</mat-option>
                    <mat-option value="cook"><a translate>AUTH.COOK</a></mat-option>
                </mat-select>
                <mat-error *ngIf="role.errors?.required">
                    <a translate>AUTH.ROLE-REQUIRED</a>
                </mat-error>
            </mat-form-field>
            </div>
        </form>
        <div align="end">
        <button mat-button type="submit" [disabled]="userForm.invalid" (click)="registerUser(userForm.value)">
            <a translate>AUTH.SUBMIT</a>
        </button>
        </div>
    </mat-card>
    <br>
</div>
