<mat-progress-bar *ngIf="loadingSubject$ | async; else content" mode="query" color="primary"></mat-progress-bar>
<ng-template #content>
    <div *ngIf="(categoriesSubject$ | async)?.length > 0; else manual" class="list">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let category of categoriesSubject$ | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
                          {{ category.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-edit-category [categories]="categoriesSubject$ | async" [category]="category"></app-edit-category>
          </mat-expansion-panel>
    </mat-accordion>
    </div>

    <ng-template #manual>
      <h4><span translate>INGREDIENTS.EMPTY-CATEGORIES</span></h4>
    </ng-template>

    <app-add-category [categories]="categoriesSubject$ | async"></app-add-category>
</ng-template>
