<h1 mat-dialog-title>Are you sure you want to delete this dish?</h1>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center">
          <h4 class="dialog-content-will-delete"><b>{{ data.name }}</b></h4>
    </div>
<p>Be careful! If you delete this dish and you have a recipe registered with it, The recipe will be deleted too!</p>
</div>
<br>
<div>
  <div mat-dialog-actions align="end">
      <button mat-icon-button (click)="deleteData()">
          <mat-icon color="accent">check</mat-icon>
        </button>
      <button mat-icon-button (click)="onNoClick()">
            <mat-icon color="warn">cancel</mat-icon>
      </button>
  </div>
</div>
