  <mat-toolbar color="primary" class="mat-elevation-z2" [@toolbarSlide]>
      <span class="page-title">{{ menuName }}</span>
      <span class="spacer"></span>
      <div align="end">
          <button mat-button *ngIf="!newDish && !editDish" (click)="createNewDish()">
            <span translate>DISHES.NEW</span>
            <mat-icon>add_box</mat-icon>
          </button>
          <button mat-button *ngIf="newDish || editDish" (click)="initState()">
            <span translate>Cancel</span>
            <mat-icon>clear</mat-icon>
          </button>
      </div>
  </mat-toolbar>
    <app-dishes-dashboard *ngIf="!editDish && !newDish" (loadEditor)="loadEditor($event)" [firstInit]="firstInit"></app-dishes-dashboard>
    <div class="container">
      <h4 *ngIf="emptyCollection && !newDish"><a translate>DISHES.EMPTY-COLLECTION</a></h4>
      <div *ngIf="newDish">
          <h3><span translate>DISHES.CREATOR</span></h3>
          <p><span translate>DISHES.CREATE</span></p>
          <mat-divider></mat-divider>
          <br>
          <div fxLayout="column" fxLayoutGap="20px">
              <app-dish-overview (goToDashboard)="initState($event)" (init)="initState()"></app-dish-overview>
          </div>
      </div>
      <div *ngIf="editDish">
        <br>
        <div fxLayout="column"
            fxLayoutGap="20px">
                <app-dish-overview [dish_id]="dish.dish_id" (edit)="changeTitle($event)" (init)="initState()"></app-dish-overview>
        </div>
      </div>
    </div>
