<div>
<mat-toolbar color="primary">
  <div translate [translateParams]="{value: user}">LAND.HELLO</div>
</mat-toolbar>
<div class="container">

  <h2>
    <div translate [translateParams]="{value: restaurant}">
      LAND.HOWS-GOING
    </div>
  </h2>

  <div>
    <div *ngIf="(lastOrder$ | async) as lastOrder">
      <p translate>LAND.LAST-ORDER</p>
      <div *ngIf="lastOrder">
          <mat-card>
              <mat-card-title style="font-size: 14px">{{ lastOrder.supplier }} @ {{ lastOrder.date | date:'HH:mm - d/MM/yy' }}</mat-card-title>
              <mat-card-content>
                <div fxLayout="row">
                  <div translate [translateParams]="{value: lastOrder.madeBy}">
                    LAND.O-BY
                  </div>
                </div>
            </mat-card-content>
            </mat-card>
      </div>
      <ng-template #manual></ng-template>
  </div>
    <div *ngIf="(stats$ | async) as stats">
        <p translate>LAND.TRAKED</p>
        <mat-card>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">kitchen</mat-icon>
              <a mat-line routerLink="/products">
                <span translate>NAV.INGREDIENTS</span>
              </a>
              <span class="stats">{{ stats.products }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-icon color="primary">restaurant_menu</mat-icon>
                <a mat-line routerLink="/dishes">
                  <span translate>NAV.DISHES</span>
                </a>
                <span class="stats">{{ stats.dishes }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-icon color="primary">book</mat-icon>
                <a mat-line routerLink="/recipes">
                  <span translate>NAV.RECIPES</span>
                </a>
                <span class="stats">{{ stats.recipes }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-icon color="primary">shopping_basket</mat-icon>
                <a mat-line routerLink="/orders-suppliers">
                  <span translate>ORDERS.ORDERS</span>
                </a>
                <span class="stats">{{ stats.orders }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-icon color="primary">shop</mat-icon>
                <a mat-line routerLink="/orders-suppliers">
                  <span translate>ORDERS.SUPPLIERS</span>
                </a>
                <span class="stats">{{ stats.suppliers }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="role === 'chef'">
                <mat-icon mat-list-icon color="primary">supervised_user_circle</mat-icon>
                <a mat-line routerLink="/chef/team">
                  <span translate>RESTAURANT.TEAM-MEMBERS</span>
                </a>
                <span class="stats">{{ stats.users }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card>
    </div>
</div>
</div>
