.toolbar {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  z-index: 999;
}

.header {
  height: 30vh;
  width: 100%;
  height: 100%;
}

.title-box {
  margin: 30px;
}

.main-img {
  max-width: 300px;
  max-height: 300px;
}

.title {
  margin-top: 10vh;
  text-align: center;
  font-size: 50px;
  color: #356859;
  font-family: 'Montserrat';
}

.subtitle {
  color: gray;
  font-size: 30px;
  font-family: 'Montserrat';
}

.footer {
  position: static;
  bottom: 0;
  width: 100%
}

.p-title {
  text-align: center;
  font-size: 20px;
  color: #A0C843;
}

.content {
  min-height: 90vh;
  padding-bottom: 35px;
}

@media (max-width: 1280px) {

  .main-img {
    margin-right: 30px;
  }

  .subtitle {
    font-size: 20px;
    text-align: center
  }

  .box-paragraph {
    width: 70%;
  }
}

@media (max-width: 960px) {
  .main-img {
    max-width: 250px;
    max-height: 250px;
    margin-right: 0px;
  }

  .image {
    text-align: center;
  }

  .box-paragraph {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title {
    font-size: 40px;
    margin-top: 10px;
  }

  .subtitle {
    font-size: 20px;
    text-align: center
  }

  .p-title {
    font-size: 20px;
  }


}

@media (max-width: 600px) {

  .image {
    text-align: center;
  }

  .box-paragraph {
    width: 100%;
  }

  .main-img {
    max-width: 250px;
    max-height: 250px;
  }

  .content {
    padding-bottom: 10vh;
  }

}
