
<h3 translate>INGREDIENTS.ADD-CATEGORY</h3>
<mat-divider></mat-divider>
<br>

    <form [formGroup]="addForm" (ngSubmit)="validateForm(addForm.value)">
      <mat-form-field>
          <input matInput placeholder="{{ 'INGREDIENTS.NAME' | translate }}" type="string" autocomplete="off" formControlName="name" [errorStateMatcher]="matcher">
          <mat-error *ngIf="name.hasError('required')"><a translate>INGREDIENTS.NAME-REQUIRED</a></mat-error>
          <mat-error *ngIf="name.hasError('pattern')"><a translate>INGREDIENTS.ONLY-LETTERS</a></mat-error>
      </mat-form-field>
    <div align="right">
      <button mat-button color="primary" class="mdc-icon-button material-icons m-2" type="submit" [disabled]="disableSubmit || name.invalid">Submit</button>
    </div>
  </form>


