  <mat-toolbar color="warn" class="mat-elevation-z2">
    <mat-toolbar-row>
      <span>{{ menuName }}</span>
      <span class="spacer"></span>
      <div align="end">
          <button mat-button *ngIf="!newDish && !editDish" (click)="createNewDish()">
              <a translate>DISHES.NEW</a>
            <mat-icon>add_box</mat-icon>
          </button>
          <button mat-icon-button *ngIf="newDish || editDish" (click)="initState()">
            <mat-icon>clear</mat-icon>
          </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
    <app-dishes-dashboard *ngIf="!editDish && !newDish" (loadEditor)="loadEditor($event)" [firstInit]="firstInit"></app-dishes-dashboard>
    <div class="container">
      <h4 *ngIf="emptyCollection && !newDish"><a translate>DISHES.EMPTY-COLLECTION</a></h4>
      <div *ngIf="newDish">
          <h3><a translate>DISHES.CREATOR</a></h3>
          <p><a translate>DISHES.CREATE</a></p>
          <mat-divider></mat-divider>
          <br>
          <div fxLayout="column" fxLayoutGap="20px">     
              <app-dish-overview (goToDashboard)="initState($event)" (init)="initState()"></app-dish-overview>
          </div>
      </div>
      <div *ngIf="editDish">
        <!-- <h3><a translate>DISHES.OVERVIEW</a></h3>
        <mat-divider></mat-divider> -->
        <br>
        <div fxLayout="column"
            fxLayoutGap="20px">     
                <app-dish-overview [dish]="dish" [id]="dish._id" (edit)="changeTitle($event)" (init)="initState()"></app-dish-overview>
        </div>
      </div>
    </div>
 