<div class="container">
<br>
  <div *ngIf="isNotSet">
    <mat-icon color="warn">error</mat-icon>
    <strong translate>AUTH.UNKNOWN-RESTAURANT</strong>
    <br>
  </div>
  <div fxLayout="column">
    <form [formGroup]="resForm" (ngSubmit)="saveData(resForm.value)">
      <mat-form-field>
      <input matInput placeholder="{{ 'AUTH.NAME' | translate }}" formControlName="name">
        <mat-error *ngIf="name.hasError('required')"><a translate>AUTH.NAME-REQUIRED</a></mat-error>
      </mat-form-field>

      <mat-form-field>
      <input matInput placeholder="{{ 'AUTH.CUSINE' | translate }}" formControlName="cusine">
        <mat-error *ngIf="cusine.hasError('required')"><a translate>AUTH.CUSINE-REQUIRED</a></mat-error>
        <mat-error *ngIf="cusine.hasError('pattern')"><a translate>AUTH.ONLY-LETTERS</a></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'AUTH.ADRESS' | translate }}" formControlName="adress">
        <mat-error *ngIf="adress.hasError('required')"><a translate>AUTH.ADDRES-REQUIRED</a></mat-error>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+34 &nbsp;</span>
        <input type="tel" matInput placeholder="{{ 'AUTH.PHONE' | translate }}" formControlName="phone">
        <mat-error *ngIf="phone.hasError('required')"><a translate>AUTH.PHONE-REQUIRED</a></mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="{{ 'AUTH.DESCRIPTION' | translate }}" formControlName="description"></textarea>
        <mat-error *ngIf="description.hasError('required')"><a translate>AUTH.DESCRIPTION-REQUIRED</a></mat-error>
      </mat-form-field>

      <div align="end">
        <button mat-button [disabled]="resForm.invalid || !resForm.dirty">
            <a translate>AUTH.SUBMIT</a>
        </button>
      </div>

    </form> 
  </div>
</div>
