<mat-toolbar class="mat-elevation-z2" color="primary"><span class="page-title" translate>AUTH.PROFILE</span></mat-toolbar>
<div class="container">
        <mat-card>
                <div *ngIf="loadingSubject$ | async" class="loading-shade">
                        <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
                </div>
                <div *ngIf="!(loadingSubject$ | async)">
                        <mat-card-content [@fadeInOut]>
                                        <app-name [user]="user"></app-name>
                                        <app-email [user]="user"></app-email>
                                        <app-language [user]="user"></app-language>
                                        <app-currency [user]="user"></app-currency>
                                    <mat-card-actions>
                                        <button mat-button (click)="openPwdDialog()"><span translate>AUTH.CHANGE-PWD</span></button>
                                        <button mat-button (click)="openDelDialog()" color="warn"><span translate>AUTH.DELETE</span></button>
                                    </mat-card-actions>
                        </mat-card-content>
                </div>
            </mat-card>
            <br>
</div>

