<div style="margin: 30px" (click)="$event.stopPropagation()" (keydown.tab)="$event.stopPropagation()">
    <form #login="ngForm">
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <input matInput type="text" [formControl]="email"
          placeholder="Username" autocomplete="off">
        </mat-form-field>
        <mat-error *ngIf="email.hasError('wrong-credentials')">Invalid credentials</mat-error>
        <mat-form-field appearance="outline">
          <input matInput type="password" [formControl]="password" placeholder="Password">
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <small routerLink="/signin">Forgot password?</small>
            <div align="end">
                <button type="submit" color="primary" mat-raised-button (click)="doLogin(email.value, password.value)">
                  <span translate>Login</span>
                </button>
            </div>
        </mat-card-actions>
      </form>
</div>

