<div style="margin: 30px" (click)="$event.stopPropagation()" (keydown.tab)="$event.stopPropagation()">
    <form #login="ngForm">
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <input matInput type="text" [formControl]="email"
          placeholder="{{ 'AUTH.EMAIL' | translate }}" autocomplete="off">
        </mat-form-field>
        <mat-error *ngIf="email.hasError('wrong-credentials')"></mat-error>
        <mat-form-field appearance="outline">
          <input matInput type="password" [formControl]="password" placeholder="{{ 'AUTH.PASSWORD' | translate }}">
        </mat-form-field>
        <mat-error *ngIf="password.hasError('wrong-credentials')"></mat-error>
        </mat-card-content>
        <mat-card-actions>
          <p routerLink="/land/login/forgot" (click)="close()" style="cursor: pointer">
            <span translate>HOME.FORGOT</span>
          </p>
            <div align="end">
                <button type="submit" mat-button (click)="doLogin(email.value, password.value)">
                  <span translate>HOME.LOGIN</span>
                </button>
            </div>
        </mat-card-actions>
      </form>
</div>

