<div [@fader]>
<h4 *ngIf="(productsSubject$ | async)?.length === 0 && notFoundSubject$.value === false; else table">
  <span translate>INGREDIENTS.EMPTY</span>
</h4>

<ng-template #table>
<div>
        <div fxLayout="row">
            <mat-form-field class="searchBar" fxFlex="90">
                <input matInput placeholder="{{ 'INGREDIENTS.SEARCH' | translate }}" [formControl]="search" autocomplete="off" #filter>
            </mat-form-field>
            <div class="export" fxLayouAlign="end">
                <button mat-button (click)="pdf()"><span translate>INGREDIENTS.PDF</span></button>
            </div>
        </div>
    <div class="cont">
      <div class="table-container">
        <div *ngIf="(loadingSubject$ | async)" class="loading-shade">
            <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
        </div>
        <table mat-table [dataSource]="data" multiTemplateDataRows class="mat-elevation-z2" matSort [@fader]>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="font-weight: bold"><span translate>INGREDIENTS.NAME</span></th>
              <td mat-cell *matCellDef="let ingredient">{{ ingredient.name }}</td>
              <td mat-footer-cell *matFooterCellDef><b>Not Found</b></td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold"><span translate>INGREDIENTS.CATEGORY</span></th>
                <td mat-cell *matCellDef="let ingredient">{{ ingredient.category }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

            <ng-container matColumnDef="pPK">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold"><span translate>INGREDIENTS.PPK</span></th>
                <td mat-cell *matCellDef="let ingredient">{{ ingredient.price | currency:currency }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="finalPrice">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold"><span translate>INGREDIENTS.COST</span></th>
                <td mat-cell *matCellDef="let ingredient">{{ ingredient.cost | currency:currency }}</td>
                <td mat-footer-cell *matFooterCellDef>
                </td>
            </ng-container>


            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let ingredient" [attr.colspan]="columnsToDisplay.length" [hidden]="!expandedIngredient">
                <div class="ingredient-detail" fxLayout="column"
                    [@detailExpand]="ingredient == expandedIngredient ? 'expanded' : 'collapsed'">
                  <div class="edit-box">
                    <br>
                      <div align="end">
                          <button mat-icon-button (click)="cancel(true)" color="primary">
                              <mat-icon>clear</mat-icon>
                          </button>
                      </div>
                      <app-edit-product (cancel)="cancel($event)" [ingredient]="ingredient" [categories]="categoriesSubject$ | async">
                      </app-edit-product>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay" [hidden]="expandedIngredient"></tr>
            <tr mat-row *matRowDef="let ingredient; columns: columnsToDisplay;"
                class="ingredient-row" [hidden]="notFound || expandedIngredient"
                [class.example-expanded-row]="expandedIngredient === ingredient"
                (click)="expandedIngredient = expandedIngredient === ingredient ? null : ingredient; hideUnexpanded(ingredient)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="ingredient-detail-row" [hidden]="notFoundSubject$ | async"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsToDisplay" [hidden]="!(notFoundSubject$ | async)"></tr>
        </table>
      </div>
    </div>
    <mat-paginator [pageSize]="5" (page)="handlePaginator($event)" [hidden]="expandedIngredient !== null"></mat-paginator>
  </div>
</ng-template>
<app-add-product [ingredients]="productsSubject$ | async"></app-add-product>
</div>
