<div [@fader]>
    <mat-toolbar class="mat-elevation-z2" color="primary">
      <span class="page-title" translate>NAV.TEAM</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="openHelp()">
        <mat-icon class="toolbar-button">help_outline</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loadingSubject$ | async" mode="indeterminate" color="primary"></mat-progress-bar>

    <div *ngIf="(usersSubject$ | async)?.length > 0; else manual" class="container">
        <mat-accordion class="accordion-container">
          <mat-expansion-panel *ngFor="let user of usersSubject$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ user.name }}
              </mat-panel-title>
              <mat-panel-description>
                {{ user.email }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <mat-label><span translate>TEAM.ROLE</span></mat-label>
              <mat-select value="{{ user.role }}" [(ngModel)]="user.role" name="role" #role="ngModel">
                <mat-option value="chef">Chef</mat-option>
                <mat-option value="sous">Sous</mat-option>
                <mat-option value="cook"><span translate>AUTH.COOK</span></mat-option>
              </mat-select>
            </mat-form-field>
            <div align="end">
              <button mat-button color="primary" [disabled]="role.untouched" (click)="roleChange(user.user_id, role.value)">
                <span translate>TEAM.S-ROLE-CHANGE</span>
              </button>
              <button mat-button color="warn" (click)="openDropDialog(user.user_id)">
                <span translate>TEAM.DROP-USER</span>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
    </div>

    <ng-template #manual>
      <div *ngIf="usersSubject$.value !== null" class="container">
        <markdown [src]="src"></markdown>
      </div>
    </ng-template>
</div>

