<!-- Mobile -->
<div *ngIf="role">
<mat-toolbar *ngIf="isLoggedIn$ | async" fxShow="true" fxHide.gt-md class="mat-elevation-z2">
      <button mat-button routerLink="/" [disabled]="role === 'cook'">
        <img class="icon" src="../../../assets/logo/loco-circle.png">
        <span fxShow="true" fxHide.lt-sm="true" class="res-name">
          {{ restaurantName$ | async }}
        </span>
      </button>
      <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="storeMenu">
            <mat-icon>store</mat-icon>
        </button>
        <mat-menu #storeMenu="matMenu">
            <button mat-menu-item routerLink="/orders-suppliers" *ngIf="role !== 'cook'">
              <mat-icon>shop_two</mat-icon>
              <span translate>NAV.ORDERS-SUPPLIERS</span>
            </button>
            <button mat-menu-item routerLink="/products" *ngIf="role !== 'cook'">
              <mat-icon>kitchen</mat-icon>
              <span translate>NAV.INGREDIENTS</span>
            </button>
            <button mat-menu-item routerLink="/dishes" *ngIf="role !== 'cook'">
              <mat-icon>restaurant_menu</mat-icon>
              <span translate>NAV.DISHES</span>
            </button>
            <button mat-menu-item routerLink="/recipes">
              <mat-icon>book</mat-icon>
              <span translate>NAV.RECIPES</span>
            </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="adminMenu" *ngIf="role === 'chef'">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #adminMenu="matMenu">
            <button mat-menu-item routerLink="/chef/team">
              <mat-icon>supervisor_account</mat-icon>
              <span translate>NAV.TEAM</span>
            </button>
            <button mat-menu-item routerLink="/chef/restaurant">
              <mat-icon>store</mat-icon>
              <span translate>NAV.RESTAURANT</span>
            </button>
            <button mat-menu-item (click)="openInvitationDialog()">
              <mat-icon>insert_invitation</mat-icon>
              <span translate>NAV.INV</span>
            </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="accountMenu">
          <mat-icon>account_box</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
            <button mat-menu-item [disabled]="true">
              <span translate>{{ userName$ | async }}</span>
            </button>
            <button mat-menu-item routerLink="/user">
              <span translate>NAV.CONFIGURATION</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <span translate>NAV.LOGOUT</span>
            </button>
        </mat-menu>
</mat-toolbar>

<mat-toolbar *ngIf="isLoggedIn$ | async" fxShow="true" fxHide.lt-lg="true" class="mat-elevation-z2">
    <button mat-button routerLink="/">
      <img class="icon" src="../../../assets/logo/loco-circle.png">
      <span class="res-name">{{ restaurantName$ | async }}</span>
      <span fxHide.lt-md="true"></span>
    </button>
    <span class="spacer"></span>
        <button mat-button routerLink="/orders-suppliers" *ngIf="role !== 'cook'">
          <mat-icon>shop_two</mat-icon>
          <span translate fxShow="true" fxHide.lt-md="true">NAV.ORDERS-SUPPLIERS</span>
        </button>
      <button mat-button routerLink="/products" *ngIf="role !== 'cook'">
        <mat-icon>kitchen</mat-icon>
        <span translate fxShow="true" fxHide.lt-md="true">NAV.INGREDIENTS</span>
      </button>
      <button mat-button routerLink="/dishes" *ngIf="role !== 'cook'">
        <mat-icon>restaurant_menu</mat-icon>
        <span translate fxShow="true" fxHide.lt-md="true">NAV.DISHES</span>
      </button>
      <button mat-button routerLink="/recipes">
        <mat-icon>book</mat-icon>
        <span translate fxShow="true" fxHide.lt-md="true">NAV.RECIPES</span>
      </button>
      <button mat-button [matMenuTriggerFor]="adminMenu" *ngIf="role === 'chef'">
        <mat-icon>settings</mat-icon>
        <span translate fxShow="true" fxHide.lt-md="true">NAV.ADMINISTRATION</span>
      </button>
      <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/chef/team">
            <mat-icon>supervisor_account</mat-icon>
            <span translate>NAV.TEAM</span>
          </button>
          <button mat-menu-item routerLink="/chef/restaurant">
            <mat-icon>store</mat-icon>
            <span translate>NAV.RESTAURANT</span>
          </button>
          <button mat-menu-item (click)="openInvitationDialog()">
            <mat-icon>insert_invitation</mat-icon>
            <span translate>NAV.INV</span>
          </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_box</mat-icon>
        <span fxShow="true" fxHide.lt-md="true">{{ userName$ | async | titlecase }}</span>
      </button>
      <mat-menu #accountMenu="matMenu">
          <button mat-menu-item routerLink="/user">
            <span translate>NAV.CONFIGURATION</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <span translate>NAV.LOGOUT</span>
          </button>
      </mat-menu>
</mat-toolbar>
</div>


