<mat-progress-bar *ngIf="loadingSubject$ | async" mode="query" color="primary"></mat-progress-bar>
<div *ngIf="(dishesSubject$ | async)?.length > 0; else manual"
  fxLayout="row wrap" class="dishes-box">
    <div *ngFor="let dish of dishesSubject$ | async" [@fader] [hidden]="loadingSubject$ | async">
        <mat-card class="dish-card">
          <mat-card-header>
              <div mat-card-avatar><mat-icon color="primary">restaurant_menu</mat-icon></div>
              <div fxLayoutAlign.gt-sm="center" fxLayout="column">
                <mat-card-title style="font-size: 18px"><b>{{ dish.name }}</b></mat-card-title>
                <mat-card-subtitle>{{ dish.category }}</mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content>
                <mat-list dense>
                  <div fxLayout="row nowrap">
                    <div>
                        <button mat-button [disabled]="true">
                          <b><span translate>DISHES.COST</span> {{ dish.cost | currency: currency }} </b>
                        </button>
                    </div>
                    <div>
                      <button mat-icon-button (click)="selectDish(dish)">
                      <mat-icon color="accent">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="openDeleteDialog(dish)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                    </div>
                  </div>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <div align="end">
                <button mat-button (click)="pdf(dish)">
                  <span translate>DISHES.PDF</span>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
<ng-template #manual>
  <div *ngIf="dishesSubject$.value !== null" class="container">
    <markdown [src]="src"></markdown>
  </div>
</ng-template>


