<div [@fadeInOut]>
    <mat-tab-group [selectedIndex]="selectedIndex">
            <mat-tab [disabled]="true" label="How you will registre?">
              <br>
                <div>
                    <button mat-raised-button class="kindOfRegistration" color="primary" (click)="typeOfSignin(false)">
                        I will registre my restaurant
                    </button>
                    <button mat-raised-button class="kindOfRegistration" color="primary" (click)="typeOfSignin(true)">
                        I have an invitation code
                    </button>
                </div>
            </mat-tab>
            <mat-tab [disabled]="true" label="Introduce your user data">
              <br>
                <app-user-form (stepDone)="firstStep($event)" [isWithCode]="isWithCode" [errors]="errors"></app-user-form>
            </mat-tab>
            <mat-tab [disabled]="true" *ngIf="!isWithCode && isWithCode !== undefined" label="Introduce your restaurant data">
              <br>
                <app-restaurant-form (stepDone)="signinAsRestaurant($event)"></app-restaurant-form>
            </mat-tab>
    </mat-tab-group>
  </div>
