<div class="container">
  <mat-tab-group [selectedIndex]="selectedIndex">
          <mat-tab [disabled]="true" label="{{ 'SIGNIN.START' | translate }}">
            <br>
              <div style="padding: 10px">
                  <button mat-button class="kindOfRegistration mat-elevation-z1" (click)="typeOfSignin(false)">
                      <span translate>SIGNIN.NEW-RES</span>
                  </button>
                  <button mat-button class="kindOfRegistration mat-elevation-z1" (click)="typeOfSignin(true)">
                      <span translate>SIGNIN.CODE-SIGNIN</span>
                  </button>
              </div>
          </mat-tab>
          <mat-tab [disabled]="true" label="{{ 'SIGNIN.USER-INFO' | translate }}">
            <br>
            <div id="element" data-size="compact"></div>
              <app-user-form (stepDone)="firstStep($event)" [isWithCode]="isWithCode" [errors]="errors"></app-user-form>

          </mat-tab>
          <mat-tab [disabled]="true" *ngIf="!isWithCode && isWithCode !== undefined" label="{{ 'SIGNIN.RES-INFO' | translate }}">
            <br>
              <app-restaurant-form (stepDone)="signinAsRestaurant($event)"></app-restaurant-form>
          </mat-tab>
  </mat-tab-group>
</div>
<br>
