<h3><a translate>LIST.INGREDIENTS</a></h3>
<mat-divider></mat-divider>
<br>

  <form #adder>
    <mat-form-field>
        <input matInput placeholder="{{ 'LIST.SEARCH' | translate }}" [formControl]="search" autocomplete="off">
    </mat-form-field>
  </form>

  <mat-progress-bar mode="buffer" *ngIf="loadingSubject$ | async"></mat-progress-bar>
  <div *ngIf="notFound" style="font-weight: bold;" align="center"><a translate>LIST.NOT-FOUND</a></div>


          <div *ngIf="!shopping" [@fadeInOut]>
            <app-dish-table (add)="addIngredientToDish($event)"></app-dish-table>
          </div>
          
          <div *ngIf="shopping && ingredientsSubject$.value.length !== 0" class="table-container mat-elevation-z1" [@fadeInOut]>
              <app-shopping-table (add)="addIngredientToShopping($event)"></app-shopping-table>
          </div>


     
