<mat-progress-bar *ngIf="isLoading; else table" mode="indeterminate"></mat-progress-bar>
<ng-template #table>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><span translate>INGREDIENTS.INGREDIENT</span></th>
          <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
        </ng-container>

        <ng-container matColumnDef="gPP">
          <th mat-header-cell *matHeaderCellDef><span translate>RECIPE.GRAMS</span></th>
          <td mat-cell *matCellDef="let ingredient">
            <span>
              {{ ingredient.gPP < 1000 ? ingredient.gPP + 'gr' : ingredient.gPP / 1000 + 'Kg' }}
            </span>
          </td>
          <td mat-footer-cell *matFooterCellDef>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <br>
    <div fxLayout="row" class="mat-elevation-z1" style="padding: 15px" *ngIf="isNewOrEditRecipe">
        <p style="font-family: Montserrat; font-size: 14px" translate>RECIPE.PROD</p>
        <span class="spacer"></span>
        <button mat-icon-button (click)="counter('remove')" type="button" [disabled]="min_prod_value === 1">
            <mat-icon color="warn">remove_circle</mat-icon>
        </button>
        <button mat-button [disabled]="true">
          <span>{{ min_prod_value }}</span>
        </button>
        <button mat-icon-button (click)="counter('add')" type="button" [disabled]="min_prod_value >= 100">
            <mat-icon color="primary">add_circle</mat-icon>
        </button>
    </div>
</ng-template>
