<div class="container">
        <h3>{{ loadedUser.name | titlecase }}</h3>
        <mat-divider></mat-divider>
        <br>
        <div fxLayout="column">
           <app-name [user]="user"></app-name> 
           <app-email [user]="user"></app-email> 
           <app-role [user]="user"></app-role> 
        </div>
    </div>
    
    <div class="container" fxLayout="row">
      <div align="start">
          <button mat-button (click)="openPwdDialog()"><a translate>AUTH.CHANGE-PWD</a></button>
          <button mat-button (click)="openDelDialog()"><a translate>AUTH.DELETE</a></button>
      </div>
      <div align="end">
          <button mat-button (click)="toggleProfile()"><a translate>AUTH.BACK</a></button>
      </div>
    </div>