<mat-toolbar *ngIf="!isAdmin" class="mat-elevation-z2" color="warn"><span translate>AUTH.PROFILE</span></mat-toolbar>
<div class="container">
        <mat-card color="warn">
                <div *ngIf="loadingSubject$ | async" class="loading-shade">
                        <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
                </div>
                <div [hidden]="loadingSubject$ | async">
                        <mat-card-content>
                                        <app-name [user]="user"></app-name> 
                                        <app-email [user]="user" [isAdmin]="isAdmin"></app-email>
                                        <app-role *ngIf="isAdmin; else language" [user]="user"></app-role>
                                        <ng-template #language>
                                            <app-language [user]="user"></app-language>
                                        </ng-template>
                                    <mat-card-actions>
                                        <button mat-button (click)="openPwdDialog()"><a translate>AUTH.CHANGE-PWD</a></button>
                                        <button mat-button (click)="openDelDialog()"><a translate>AUTH.DELETE</a></button>
                                    </mat-card-actions>
                        </mat-card-content>  
                </div> 
            </mat-card>
            <br>
</div>

