<div class="container">
  <div align="end" style="margin: 10px">
    <button mat-button color="warn">
      <mat-icon>add_box</mat-icon>
      <span translate>New Order</span>
    </button>
  </div>

  <mat-card>
    <mat-card-subtitle>
      <div>
          <span translate>Recent Orders</span>
          <span fxLayoutAlign="end" translate>Total orders: {{ orders$.value.length }}</span>
      </div>
    </mat-card-subtitle>
    <mat-card-content>
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
            <div *cdkVirtualFor="let order of orders$ | async" class="example-item">
              <mat-card>
                <mat-card-title>{{order.supplier}} @ {{ order.date }}</mat-card-title>
                <mat-card-content>
                  <div fxLayout="row">
                    <span fxFlex="50%" translate>Items ordered: <strong>{{ order.total_items }}</strong></span>
                    <span fxFlex="50%" translate>Ordered by <strong>{{ order.madeBy }}</strong></span>
                  </div>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-button><span translate>Repeat Order</span></button>
                <button mat-button><span translate>View Details</span></button>
              </mat-card-actions>
              </mat-card>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-card-content>
  </mat-card>


</div>
