.mat-elevation-z1 {
  border-radius: 5px; padding: 10px
}

.items {
  font-size: 16px;
}

.searchbar {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.supplier-box {
  width: 100%;
}

.loadingText {
  opacity: 5;
  color: white;
  margin: 10px
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding-top: 5px;
  padding-left: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.empty {
    text-align: center;
}

.quantity {
    width: calc(30% - 0.5rem);
    text-align: center;
    font-size: 14px;
}

.unit {
    width: calc(25% - 0.5rem);
    text-align: center;
    font-size: 14px;
}


.item {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    padding-top: 10px;
    padding-right: 5px;
    max-height: 300px;
    width: 100%;
    overflow-x: hidden;
}





