
* {
    font-family: Arial;
}

html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

  .container {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.mat-simple-snackbar-action {
    color: gray;
    font-weight: bold;
}

.green-snackbar {
    background: #329932;
  }

.warning-snackbar {
    color: grey;
    background: #ffae42;
}

.danger-snackbar {
    color: white;
    background: red;
}

.mat-spinner {
    margin: 0 auto;
}

.spacer {
    flex: 1 1 auto;
  }

.page-title {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

  .mat-list .mat-list-item.right .mat-list-item-content{
    justify-content: flex-end;
}

button > span {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.icon {
  max-width: 30px;
  max-height: 30px;
}

@media (max-width: 900px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;
    }
}




