<div>
  <div *ngIf="!done">
      <h4 translate>AUTH.CHANGE-PWD</h4>
      <mat-divider></mat-divider>
      <br>
    <form [formGroup]="form" fxLayout="column">
      <mat-form-field *ngIf="!data.isAdmin">
        <input matInput type="password" formControlName="currentPassword" placeholder="{{ 'AUTH.CURRENT-PWD' | translate }}">
        <mat-error *ngIf="currentPassword.hasError('required')"><a translate>AUTH.CURRENT-REQUIRED</a></mat-error>
        <mat-error *ngIf="!currentPassword.valid"><a translate>AUTH.WRONG-PWD</a></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="newPassword" placeholder="{{ 'AUTH.NEW-PWD' | translate }}">
        <mat-error *ngIf="newPassword.hasError('required')"><a translate>AUTH.NEW-PWD-REQUIRED</a></mat-error>
        <mat-error *ngIf="newPassword.hasError('pattern')"><a translate>AUTH.PWD-REQ</a></mat-error>
      </mat-form-field>

        <mat-form-field>
            <input matInput type="password" formControlName="confirmPassword" placeholder="{{ 'AUTH.REPEAT-PWD' | translate }}">
            <mat-error *ngIf="confirmPassword.hasError('required')"><a translate>AUTH.REPEAT-PWD</a></mat-error>
            <mat-error *ngIf="confirmPassword.hasError('pattern')"><a translate>AUTH.NOT-MATCH</a></mat-error>
        </mat-form-field>

      <div align="end">
        <button mat-icon-button type="submit" *ngIf="form.valid" (click)="savePwd(form.value)">
            <mat-icon color="primary">check</mat-icon>
        </button>
        <button mat-icon-button (click)="dialogRef.close()">
            <mat-icon color="warn" type="button">cancel</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="done">
    <h4><a translate>AUTH.THANKS</a></h4>
    <mat-divider></mat-divider>
    <p><a translate>AUTH.LOGOUT-MSG</a></p>
    <p><a translate>AUTH.LOGOUT-MSG-2</a></p>
  </div>



</div>