<mat-progress-bar *ngIf="isLoading" mode="query" color="warn"></mat-progress-bar> 
<h4 *ngIf="emptyCollection"><a translate>INGREDIENTS.EMPTY-CATEGORIES</a></h4>
<div *ngIf="!isLoading">
  <br>
  <mat-accordion *ngIf="!isLoading">
      <mat-expansion-panel *ngFor="let category of categoriesSubject$ | async">
          <mat-expansion-panel-header>
              <mat-panel-title>
                        {{ category.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-edit-category [categories]="categoriesSubject$ | async" [category]="category"></app-edit-category>
        </mat-expansion-panel>
  </mat-accordion>
  <br>
</div>
<app-add-category [categories]="categoriesSubject$ | async"></app-add-category>

