<div *ngIf="!shopping">
<h3><a translate>LIST.INGREDIENTS</a></h3>
<mat-divider></mat-divider>
<br>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loadingSubject$ | async"></mat-progress-bar>
  <form #adder>
    <mat-form-field appearance="outline">
        <input matInput placeholder="{{ 'LIST.SEARCH' | translate }}" [formControl]="search" autocomplete="off">
    </mat-form-field>
    <mat-card [@fadeInOut] *ngIf="notFound" class="table-container mat-elevation-z2" align="center"><strong translate>LIST.NOT-FOUND</strong></mat-card>
  </form>




<div *ngIf="!shopping" [@fadeInOut]>
  <app-dish-table (add)="addIngredientToDish($event)"></app-dish-table>
</div>

<div *ngIf="shopping && ingredientsSubject$.value.length !== 0" class="table-container mat-elevation-z2" [@fadeInOut]>
    <app-shopping-table (add)="addIngredientToShopping($event)"></app-shopping-table>
</div>



