.mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
 }

.shopping-product {
  border-radius: 5px;
  padding: 5px;
}
